:host {
	ion-item-option {
		margin-right: 8px;
		border-radius: 8px;
	}

	ion-card-header {
		display: flex;
		flex-direction: row;

		> ion-label {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
	}
}
